body {
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
.home {
    width: 1200px;
    height: 1100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(0,0,0,0);
    top: 70px;
}
.neiron {
    width: 620px;
    height: 270px;
    margin-top: 20px;
    border-radius: 15px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
.anjian {
    width: 255px;
    height: 80px;
    border-radius: 7px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.anjian:hover {
    box-shadow: 2px 5px 5px rgb(22, 22, 22, 0.24);
}
.b01 {
    font-family:'banma';
    font-weight: normal;
}
.myself {
    width: 250px;
    height: 300px;
    background-color: rgba(0, 38, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(24, 24, 24, 0.24);

}
#like {
    width: 880px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(25, 57, 201);
    z-index: 9;
    box-shadow: 0 2px 20px 0 rgb(214, 214, 214);
    white-space:nowrap;
    overflow-y: auto;
    display: flex;
    align-items: center;
}
#like:hover {
    box-shadow: 0 2px 20px 0 rgb(214, 214, 214);
    text-decoration:none;
}
.biaoqian:hover  {
    background-color: #003cff;
    color: white;
    width: 120px;
}
.biaoqian {
    display: inline-block;
    margin-right: 30px;
    margin-left: 35px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border-radius: 10px;
}
a:visited{
    color: rgb(65, 65, 65);
}
#lan {
    transition-duration: 0.2s;
    overflow: hidden;
  }
#lan:hover {
    box-shadow: 0px 0px 25px rgba(49, 49, 49, 0.24);
}
#lan:hover #tujian,#lan:hover #b003,#lan:hover #button {
    filter: brightness(25%);
}
#lan:hover #go {
    transform: translate(0,-360px);
}
#go {
    margin-left: 40px;
    font-size: 50px;
    color: white;
    position: relative;
    top: 50px;
    transition-duration: 0.4s;
    z-index: 9999;
    font-family: 'ali';
}
#button {
    height: 35px;
    width: 130px;
    border-radius: 20px;
    background-color: rgb(58, 83, 221);
    position: absolute;
    top: 310px;
    left: 20px;
}
.b:hover {
    color: blue;
}
.b {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
#tiaozhuang {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;   
}
#tiaozhuang:hover {
    transform: translate(0,-2px);
    transition-delay: 0s !important;
    box-shadow: 0px 0px 25px rgba(49, 49, 49, 0.24);
}
.wenzhang {
    width: 430px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 206, 206);
    position: relative;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;   
    box-shadow: 0 2px 20px 0 rgb(214, 214, 214);
}
#weibu {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1290px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -10px 20px 0 rgb(214, 214, 214);
    z-index: 99999;
}
.wenzhang:hover {
    border: 1px solid blue;
}
.all:hover {
    color: rgb(0, 0, 179) !important;
}
.b004:hover {
    color: rgb(0, 0, 179) !important;
}
#div1 {
    background-size: 110% 110%; 
}
#more {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;  
}
#more:hover {
    color: white;
    background-color: black !important;
}
.bottom {
    display: flex;
    padding-top: 70px;
    justify-content: space-evenly;
}
.bottom2 {
    display: flex;
    flex-direction: column;
}
.bottom3:hover {
    color: rgba(221, 221, 221, 0.671) !important;
}
.bottom3 {
    font-size: 17px;
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;   

}
.bottom3:visited{
    color:white;
}
h3 {
    font-family:'ali';
}
.day {
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    transition-duration: 0.4s; 
    margin-top: 10px;
}
.day:hover {
    transform: translate(0,-4px);
    box-shadow: 0px 10px 25px rgba(49, 49, 49, 0.24);
    background-color: white;
}
.day:hover .thing {
    color: black;
} 
.thing {
    word-wrap: break-word;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 15px;
}
#page:hover {
    filter: drop-shadow(blue,0,0);
} 
/* 加载页面 */
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(18, 71, 218);
    z-index: 9999999;
}

#about2 ::-webkit-scrollbar
{
    width: 6px;
    height: 16px;
    background-color: #F5F5F5;
}
 
#about2 ::-webkit-scrollbar-track
{
    background-color: #003cff;
}
 
#about2 ::-webkit-scrollbar-thumb
{
    background-color: #ffffff;
    border-radius: 10px;
}

@media (min-width:1190px) {
    .nav,#button-top {
        display: none;
    }
    #div3 {
        position: absolute; 
        left:270px; 
        top:287px; 
    }
    #like {
        position: absolute;
        left: 20px;
    }
    #div7 {
        top:70px; 
        left:20px;
    }
    #div8 {
        left:470px; 
        top: -200px;
    }
    #div9 {
        top:-190px; 
        left:20px;
    }
    #div10 {
        top:-460px;
         left:470px;
    }
    #div13 {
        position: relative;
        top: 20px;
    }
    .myself {
        position: absolute;
        right: 25px;
    }
    #div1 {
        background-size: 100% 180%;
        background-position: 0 -190px;
    }
    .nothing {
        display: none;
    }
}
