@media (max-width:425px) {
    .home {
        width: 100%;
    }
    #div1 {
        width: 88% !important;
        height: 320px !important; 
        background-size: 100% 100%;
        margin: 0 !important; 
    }

    #div2 {
        width: 42.5%;
        height: 70px;
        margin: 0 auto;
        margin-top: 15px;
        margin-right: 5px !important;
    }
    #div3 {
        width: 42.5%;
        height: 70px;
        margin: 0 auto;
        position: relative;
        top: 15px;
        margin-left: 5px !important;
    }
    #b01 {
        font-size: 20px !important;
    }
    #b02 {
        font-size: 20px !important;
    }
    #div4 {
        display: flex;
        justify-content: space-evenly;
        min-width: 320px;
        margin: 0 auto;
        position: relative;
        top: 0px;
    }
    #div5 {
        display: flex;
        justify-content: space-evenly;
        min-width: 320px;
        margin: 0 auto;
    }
    #like {
        margin-top: 10px;
        width: 88%;
        
    }
    #div6 {
        display: flex;
        justify-content: center;
        min-width: 320px;
        margin: 0 auto;
        position: relative;
        top: 195px;
    }
    #button2 {
        display: none;
    }
    #div11 {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        margin: 0 auto;
        align-items: center;
    }
    .wenzhang {
        width: 88%;
        height: 230px;
        position: relative;
        margin-top: 20px;
        top: 187px;
    }
    #img1 {
        background-size: cover !important; 
        background-position: 40% 0%;
    }

    #div12 {
        display: flex;
        width: 320px;
        margin: 0 auto;
        justify-content: center;
    }
    #about {
        position: absolute;
        top: 1700px;
        margin: 0 auto;
    }
    #div13 {
        top: 20px;
        position: relative;
    }
    #about2 {
        position: absolute;
        top: 2020px !important;
        margin:0 auto;
    }
    #b003 {
        font-size: 15px !important;
        top: 120px !important;
        right: 5px !important;
    }
    #button {
        top:50px;
        left: 160px !important;
        height: 25px;
        width: 85px;
    }
    #p01 {
        font-size: 13px !important;
        top: -9px !important;
        left: 30px !important;
    }
    #img2 {
        width: 18px !important;
        top: 4px !important;
        left: 5px !important;
    }
    .div15 {
        width: 250px; 
        margin:0 auto;
    }
    .b004 {
        margin: 0 !important;
        font-size: 17px !important;
        position: absolute;
        left: 20px;
    }
    #weibu {
        position: absolute;
        top: 2500px;
        height: 800px;
    }
    .bottom {
        flex-direction: column;
        align-items: center;
    }
    .all {
        display: none !important;
    }
    .bottom2 {
        width: 80px;
        overflow: hidden;
    }
    #like {
        overflow: auto;
    }
    .biaoqian {
        margin-left: 35px;
        width: 50px;
    }
    .anjian {
        background-size: 140% 121% !important;
        background-position: -40px -10px !important;
    }
    .bottom4 {
        width: 130px !important;
    }
    .bottom5 {
        top: 3270px !important;;
    }
    .bottom6 {
        margin-top:30px;
    }
    .nothing {
        display:none;
    }
    #lan:hover #go {
        transform: translate(0,-220px);
    }
    #go {
        font-size: 30px;
    }
    .top li {
    padding: 0 13px;
    } 
    h3 {
        color: black !important;
    }
    .bottom3 {
        color: black !important;
    }
    .biaoqian {
        background-color:white !important;
    }
    .biaoqian p {
        color: black !important;
    }
    #biaoqian a {
        display: none;
    }
}

@media (max-width:311px) {
    #weibu,.bottom5 {
        width: 315px !important;
        margin: 0 auto;
    }
    .nothing {
        display:none;
    }
    
}
@media (max-width:1190px) and (min-width:426px) {
    #weibu,.home,.top,.bottom5 {
        display: none;
    }
    .nothing {
        text-align: center;
        margin: 20px;
    }
    body {
        margin: 0;
        background-color: rgb(252, 252, 252);
    }
}

@media (max-width:320px) {
    #lan {
        width:285px;
        height: 180px !important;
        top: 420px !important;
        left: 15px !important;
        right: 10px !important;
        margin: 0 auto !important;
    }
    #div14 {
        width: 320px;
        margin: 0 auto;
    }
}
@media (min-width:321px) and (max-width:425px) {
    #lan {
        width:88%;
        height: 180px !important;
        top: 420px !important;
        left: 10px !important;
        right: 10px !important;
        margin: 0 auto !important;
    }
    #div14 {
        min-width: 320px;
        margin: 0 auto;
    }
}
