@media (max-width:425px) {
    .home {
        width: 100%;
    }
    #div1 {
        width: 300px !important;
        height: 320px !important; 
        background-size: 110% 100%;
        margin: 0 !important; 
    }

    #div2 {
        width: 140px;
        height: 70px;
        margin: 0 auto;
        margin-top: 15px;
    }
    #div3 {
        width: 140px;
        height: 70px;
        margin: 0 auto;
        position: relative;
        top: 15px;
    }
    #b01 {
        font-size: 20px !important;
        position: relative;
        left: 40px;
        top: 20px;
    }
    #b02 {
        font-size: 20px !important;
        position: relative;
        left: 45px;
        top: 20px;
    }
    #div4 {
        display: flex;
        justify-content: space-evenly;
        width: 320px;
        margin: 0 auto;
        position: relative;
        top: 0px;
    }
    #div5 {
        display: flex;
        justify-content: space-evenly;
        width: 320px;
        margin: 0 auto;
    }
    #like {
        margin-top: 10px;
        width: 300px;
        
    }
    #div6 {
        display: flex;
        justify-content: center;
        width: 320px;
        margin: 0 auto;
        position: relative;
        top: 195px;
    }
    #button2 {
        display: none;
    }
    #div11 {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: 0 auto;
        align-items: center;
    }
    .wenzhang {
        width: 290px;
        height: 230px;
        position: relative;
        margin-top: 20px;
        top: 187px;
    }
    #img1 {
        background-size: 120% 200% !important; 
        background-position: 40% 0%;
    }

    #div12 {
        display: flex;
        width: 320px;
        margin: 0 auto;
        justify-content: center;
    }
    #about {
        position: absolute;
        top: 1700px;
        margin: 0 auto;
    }
    #div13 {
        top: 20px;
        position: relative;
    }
    #about2 {
        position: absolute;
        top: 2020px !important;
        margin:0 auto;
    }
    #lan {
        width: 300px;
        height: 180px !important;
        top: 420px !important;
        left: 10px !important;
        right: 10px !important;
        margin: 0 auto !important;
    }
    #div14 {
        width: 300px;
        margin: 0 auto;
    }
    #b003 {
        font-size: 15px !important;
        top: 120px !important;
        right: 10px !important;
    }
    #button {
        top:50px;
        left: 160px !important;
        height: 25px;
        width: 85px;
    }
    #p01 {
        font-size: 13px !important;
        top: -9px !important;
        left: 30px !important;
    }
    #img2 {
        width: 18px !important;
        top: 4px !important;
        left: 5px !important;
    }
    .div15 {
        width: 250px; 
        margin:0 auto;
    }
    .b004 {
        margin: 0 !important;
        font-size: 17px !important;
    }
    #weibu {
        position: absolute;
        top: 2500px;
        height: 650px;
    }
    .bottom {
        flex-direction: column;
        align-items: center;
    }
    .all {
        display: none;
    }
    .bottom2 {
        width: 80px;
        overflow: hidden;
    }
    #like {
        overflow: auto;
    }
    .biaoqian {
        margin-left: 40px;
        width: 50px;
    }
    .anjian {
        background-size: 140% 121% !important;
        background-position: -40px -10px !important;
    }
}

@media (max-width:311px) {
    #weibu {
        width: 315px;
        margin: 0 auto;
    }
    
}
