@media (max-width:520px) {
    .log {
        margin-left: 25px;
        margin-right: 20px;
    }
}
@media (max-width:320px) {
    .log {
        margin-left: 10px;
    }
}
@media (max-width:425px) {
    .top li {
        padding: 0 13px;
    }
}