body {
    margin: 0;
    background-color: rgb(233, 233, 233);
}
.top {
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 20px 0 rgb(197, 197, 197);
    position: fixed;
    z-index: 99999;
}
ul {
    margin: 0;
    display: flex;
    padding: 20px 6vw;
}
.top li {
    padding: 0 15px;
    list-style:none
}
li a:link {
    color: rgb(136, 136, 136);
}
li a:visited{
    color: rgb(136, 136, 136);
}
li a:hover {
    color: rgb(25, 57, 201);
}
a{
    text-decoration:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#guoqi1 {
    width: 30px;
}
#guoqi {
    float: right;
    padding: 20px 3vw;
}
