body {
    margin: 0;
    background-color: rgb(252, 252, 252);
}
.top {
    height: 60px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    position: fixed;
    z-index: 999998;
    backdrop-filter: blur(15px);
}
ul {
    margin: 0;
    display: flex;
    padding: 20px 6vw;
    justify-content: center;
}
.top li {
    padding: 0 25px;
    list-style:none
}
li a:link {
    color: rgb(136, 136, 136);
}
li a:visited{
    color: rgb(136, 136, 136);
}
li a:hover {
    color: rgb(25, 57, 201);
}
a{
    text-decoration:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
@media (min-width:450px) {
    .top {
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255,50%);
    }
}


